:root {
  --primary-color: #4b2aad;
  --Dark-primary-color: #351e7c;
  --secondary-color: #9484c6;
  --tertiary-color: #201445;
  --Hover-bgcolor: #f5efeb;
  --Whiteish-color: #fdfbf9;
  --White-color: #ffffff;
  --gray-color: #9c8881;
  --dark-gray-color: #5c5856;
  --golden-color: #ffae00;
}

.section {
  margin: 150px 0;
}

.main__welcome {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.left__welcome {
  max-width: 50%;
  width: 600px;
  text-align: left;
  align-self: center;
}

.right__welcome {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
}

.left__welcome h5 {
  color: var(--gray-color);
}

.left__welcome h1 {
  font-family: serif;
  font-size: 50px;
  font-weight: 700;
  margin: 10px 0;
  font-weight: 900;
  width: 100%;
}

.left__welcome p {
  font-size: 20px;
  color: var(--dark-gray-color);
  width: 100%;
}

.right__welcome img {
  width: 100%;
  border-radius: 10px;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what__podia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  padding: 0 100px;
}
.Mid__title {
  font-family: serif;
  font-size: 40px;
  font-weight: 600;
  width: 80%;
  text-align: center;
}
.Mid__per {
  color: var(--dark-gray-color);
  width: 90%;
  text-align: center;
}
.what__details {
  margin: 20px 0;
  width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 0 50px;
}

.cards {
  width: 100%;
  height: 258px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  text-align: center;
}

.what__details div h4 {
  margin: 0;
}

.icon img {
  margin-bottom: 5px;
  width: 60px;
}

.about__services {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.title h2 {
  width: 100%;
}

.title p {
  width: 90%;
  font-size: 20px;
}

/*Services*/
.servies {
  display: flex;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 80%;
}

.left__services {
  width: 50%;
  text-align: left;
}

.right__servies {
  width: 50%;
}

.right__servies img {
  width: 100%;
  border-radius: 10px;
}

.S__state {
  color: var(--gray-color);
}

.left__services h3 {
  font-family: serif;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
}

.left__services p {
  font-size: 18px;
}

.left__services a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-weight: 600;
  width: 100%;
  position: relative;
}

.Arrow__icon {
  fill: var(--primary-color);
}

.left__services h3 {
  font-size: 40px;
  margin: 0;
}

.left__services a:hover {
  color: var(--Dark-primary-color);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.left__services a:hover > .Arrow__icon {
  margin-left: 5px;
  fill: var(--Dark-primary-color);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.recomendations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.star__icons {
  fill: var(--golden-color);
  margin: 0 5px;
}

.recom__p {
  font-size: 18px;
  text-align: center;
}

.SP__name {
  color: var(--dark-gray-color);
}
/*End of Services*/

/*bottom main*/

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__bottom {
  background-color: var(--tertiary-color);
  color: var(--White-color);
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  width: 75%;
}

.main__bottom h2 {
  font-family: sans-serif;
  font-size: 30px;
}
/*end of bottom main*/
@media screen and (max-width: 768px) {
  .section {
    margin: 150px 0;
  }

  .main__welcome {
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 0 20px;
    width: 100%;
  }

  .left__welcome,
  .right__welcome {
    width: 100%;
    max-width: 100%;
  }

  .left__welcome {
    width: 100%;
  }

  .left__welcome h1 {
    font-size: 30px;
    text-align: left;
  }
  .left__welcome p {
    width: 100%;
  }

  .left__welcome button {
    margin-left: 5px;
  }

  .what__podia {
    padding: 0 15px;
  }

  .Mid__title {
    font-family: serif;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
  }
  .Mid__per {
    color: var(--dark-gray-color);
    width: 100%;
  }

  .what__details {
    flex-direction: column;
  }

  .about__services {
    padding: 0 20px;
  }

  .servies {
    flex-direction: column-reverse;
    padding: 0;
    gap: 25px;
    width: 100%;
  }

  .left__services,
  .right__servies {
    width: 100%;
  }

  .recomendations {
    margin-bottom: 50px;
  }
}
